<div id="gameinfo">
<h1>Origin List</h1>
<p align="right"><%= session[:admin] ? link_to('New origin', :action => 'new') : "" %></p>
<table width="100%" class="gitable">
  <tr><th>Name</th><th >Description</th><th>Type</th></tr>
  
<% for origin in @origins %>
  <tr>
    <td valign=top><%= link_to origin.name, :action => 'show', :id => origin %></td>
    <td><%=h origin.description %></td>
    <td valign=top><%=h origin.class %></td>
<% if session[:admin] %>
    <td valign=top><%= link_to 'Edit', :action => 'edit', :id => origin %></td>
    <td valign=top><%= link_to 'Add&nbsp;Skills', :action => 'pick', :id => origin %></td>
    <td valign=top><%= link_to 'Destroy', { :action => 'destroy', :id => origin }, :confirm => 'Are you sure?', :method => :post %></td>
<% end %>
  </tr>
<% end %>
</table>
</div>
<div id="bottompagemover">
<%= link_to 'Previous page', { :page => @origin_pages.current.previous } if @origin_pages.current.previous %>
<%= link_to 'Next page', { :page => @origin_pages.current.next } if @origin_pages.current.next %> 
</div>
<br />

