<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= controller.controller_name.capitalize %>:<%= controller.action_name %></title>
<%= javascript_include_tag :defaults %>

<%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
<div id="page">
	<div id="tip_top">
		<div id="tt_left"></div>
		<div id="tt_right"></div>
	</div>
 	<div id="top">
    	<div class="header">&nbsp;
		</div>
    	<div class="login">
    	  <% if session[:user] %>
    	  <ul>
     	   <li>Player <%= link_to session[:user]["name"], :controller => :players, :action => :show, :id => session[:user] %></li>
     	   <% if session[:user][:active_char] %>
     	   <li>Char <%= link_to session[:user][:active_char][:name], :controller => :chars, :action => :show, :id => session[:user][:active_char][:id] %></li>
    	    <% end %>
     	   <% if session[:admin] %>
     	   <li><%= link_to "Admin Console", :controller => :players, :action => :adminconsole %></li>
     	   <% end %>
    	    <li><%= link_to "Log out", :controller => :players, :action => :logout %></li>
    	  </ul>
      <% else %>
		<li>
     	   <h3>User</h3>
     	   <ul>
      	    <li><a href="/players/login">Login</a></li>
     	   </ul>
   		</li>
   	   <% end %>
	   </div>
	</div>
    <div id="menu">
		<ul>
          <li><%= link_to "INFORMATION", :controller => :pages, :action => :intro %></li>
          <li><a href="http://brightwater.talesofvalor.com" target="_new">FORUM</a></li>
          <li><a href="/">CHARACTER DATABASE</a></li>
          <li><a href="/events/">EVENTS</a></li>
          <li><%= link_to "RULES", :controller => :pages, :action => :rulesd %></li>
          <li><%= link_to "PLAYER'S GUIDE", :controller => :pages, :action => :pguide1 %></li>
          <% if session[:staff] %>
          <li><a href="http://wiki.talesofvalor.com" target="_new">WIKI</a></li>
          <% end %>
     	</ul>
    </div>
    <div class="menuleft">
      <li>
      	<h3>Event Registration</h3>
      	<p>You must log in in order to register</p>
		<ul class="links">
			<li><%= link_to "Event Registration", :controller => :events, :action => :registration %></li> 
		</ul>
 
        <h3>Basics</h3>
        <ul class="links">
          <li><a href="/origins/">Backgrounds</a></li>
          <li><a href="/headers/">Headers</a></li>
          <li><a href="/skills/">Skills</a></li>
          <li><a href="/skills/tree">Skill Tree</a></li>
          <% if session[:admin] %>
          <li><a href="/rules/">Skill Rules</a></li>
          <% end %>
        </ul>
      </li>
      <% if session[:staff] %>
	  <li>
        <h3>Staff Info</h3>
        <ul class="links">
          <li><a href="/pels/list">PELs</a></li>
          <li><a href="/bgs/eventlist">BGS</a></li>
          <li><a href="/event_messages/list">MSGs</a> </li>
		  <li></li>
		  <li><a href="#">Plots</a></li>
          <li><%= link_to 'Tags', :controller => :tags %></li>
        </ul>
      </li>
<!--	  <% end %>
      <% if session[:staff] %> -->
      <li>
        <h3>Characters</h3>
        <ul class="links">
          <li><a href="/chars/new">New</a></li>
          <li><a href="/chars/list">List</a></li>
        </ul>
      </li>
      <li>
        <h3>Players</h3>
        <ul class="links">
          <li><a href="/players/new">New</a></li>
          <li><a href="/players/list">List</a></li>
        </ul>
      </li>
      <% end %>
    </div>
    <div class="center">
      <div id="flash">
        <p><%= flash[:notice] %></p>
      </div>
      <%= yield  %> </div>
    <div class="footer">
      <table width="100%" align="center">
        <tr>
		<td align="Center">Copyright 2014:  Tales of Valor : Sean Conlon & Erica McIntyre</td>
		</tr>
      </table>
<table width="100%" align="center">
<tr>
<td width="33%" align="Left">Help us improve our game:</td><td>
<td width="34%" align="center"><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2427648">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form> </td>
<td width="33%" align="Right"><%= link_to (session[:thin] ? 'Wide View' : 'Thin View'), :url => { :controller => :players, :action => :togglewide }, :success => "window.location.reload()" %></td>
		</tr>
		</tr>
</table>
    </div>
  </div>

</body>
</html>
